
::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: rgb(179, 179, 179);
  }


  *{
    font-family: monospace;
margin: 0;  
padding: 0;
}

